ACTION!="add|change", GOTO="nk_end"
SUBSYSTEM!="usb", GOTO="nk_end"
# Nitrokey Storage / AVR32 DFU programmer (bootloader on shipped devices)
ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2ff1", GROUP+="plugdev", TAG+="uaccess"
LABEL="nk_end"

